/* src/assets/styles/theme.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root {
    --font-family-base: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --font-family-statement: 'Roboto Slab', serif;
    --font-family-explanation: 'Roboto', sans-serif;
    /* Ou pode ser a base */

    /* Suas variáveis de cor ... */
    /* Light Mode (Vue Inspired) */
    --bg-color: #f8f9fa;
    --text-color: #212529;
    /* Melhor contraste */
    --primary-color: #42b883;
    --secondary-color: #35495e;

    --card-bg-color: #ffffff;
    --card-text-color: #343a40;
    --input-border-color: #ced4da;
    --input-bg-color: #ffffff;
    --input-text-color: #495057;

    --button-primary-bg-color: #42b883;
    --button-primary-hover-bg-color: #369469;

    --color-success: #198754;
    --color-error: #dc3545;
}

[data-theme="dark"] {
    --bg-color: #212529;
    --text-color: #f8f9fa;
    --primary-color: #42b883;
    --secondary-color: #adb5bd;
    /* Cinza claro para contraste */

    --card-bg-color: #343a40;
    --card-text-color: #f8f9fa;
    --input-border-color: #495057;
    --input-bg-color: #495057;
    --input-text-color: #f8f9fa;

    --button-primary-bg-color: #42b883;
    --button-primary-hover-bg-color: #3aa373;

    --color-success: #20c997;
    /* Verde mais brilhante para dark mode */
    --color-error: #e74c3c;
    /* Vermelho ajustado */
}

body {
    font-family: var(--font-family-base);
    /* Aplicando a fonte base */
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    /* height: 100%; */
    /* Já definido no App.vue para html,body */
    /* overflow: hidden; */
    /* Já definido no App.vue para html,body */
}